.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.links {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  font-size: medium;
}
.logoContainer {
  flex: 1;
  /* text-align: center; */
}
.logo{
  font-size: 30px;
margin-right: 4px;
display: flex;
gap: 5px;
align-items: center;
font-weight: bold;
 }
.social {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 7px;
}
.user{
  display: flex;
  align-items: center;

}

.responsiveContainer{
  display: none;
}
.write {
  background-color: rgb(5, 113, 115);
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 15px;
}
.loginBtn {
  background-color: rgb(126 34 206);
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 15px;
}

.a{
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap:20px ;
}
@media screen and (max-width: 900px) {
  .link {
    display: none;
  }
  .links{
    justify-items:center;
  }
}

@media screen and (max-width: 750px) {
  .link {
    display: none;
  }

  .links{
    justify-items:end;
  }
  .social {
    display: none;
  }
}

@media screen and (max-width: 450px) {

 .responsiveContainer{
  display: block;
}
.container{
  display: none;
}
.logo_res{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}
.line{
  height: 1px;
background-color: rgb(233, 31, 58);
}
}
