.container{
    margin-top: 20px;

}
.heading{
    font-size: 20px;
    font-weight: bold;
}
.inputContainer{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;

}
.input{
flex: 4;
height: 40px;
padding: 4px;
}
.input::placeholder{
    font-size: 12px;
    color: var(--textColor);
    margin-left: 15px;

}
.input:focus{
    outline: none;
}
.btn{
flex: 1;
text-align: center;

}
.btn button{
    width: max-content;
    padding: 10px;
    background-color:aquamarine;
 border: none;
 border-radius: 5px;
 cursor: pointer;

}

.userContainer{
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.userName{
    display: flex;
gap: 2px;
    flex-direction: column;
}
.userName p{
font-size: 12px;
color: var(--softTextColor);
}
.userName h4{
font-size: 15px;
color: var(--softTextColor);
font-weight: 700;
}
.content{
font-size: small;
    font-weight: 300;
    margin-top: 3px;
}